

@font-face {
    font-family: 'veridianFont';
    src: url('fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

:root {
    --primary-text:#333333;
    --secondary-text:#444444;
    --light-text:#d1d1d1;
    --form-background:var(--light-text);
    --right-background: rgb(219, 216, 216);
    --highlight-color: #9e0000;
    --paragraph-size: 1.4rem;
    --form-size: 1rem;
    font-family: 'veridianFont';
}

html {
    height: 100%;
}

body {
    color: var(--primary-text);
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.left {
    width: 40vw;
    background-image: url('img/ali-sedigh-moghadam-zla6FjYjfcU-unsplash.jpg');
    background-position: center;
    background-size: 100vh;
}

.logo {
    font: 'veridianLogo';
    font-size: 2.8rem;
    position: relative;
    color: var(--light-text);
    top: 200px;
    height: 250px;
    width: 40vw;
    background-color: #333333;
    opacity: 80%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.logo img, p {
    position: relative;
    z-index: 2;
    opacity: 100%;
    padding: 25px 10px 0px 10px;
}


.imgcredit {
    position:absolute;
    bottom: 5px;
    color: var(--secondary-text);
    width: 40%;
    text-align: center;
}

.right {
    width: auto;
    background-color: var(--right-background);
    display: flex;
    flex-direction: column;
}

.intro {
    font-size: x-large;
    margin: 30px;
}

.signupfields {
    text-transform: uppercase;
    font-size: small;
    color: var(--secondary-text);
    background-color: #eee;
    box-shadow: 0 10px 10px 9px var(--secondary-text);
    padding: 30px 50px 30px 50px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.signupform label {
    height: 30px;
    flex-basis: 50%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

input {
    height: 30px;
    width: 200px;
    flex-basis: 45%;
    font-family: 'veridianFont';
    font-size: large;
    border-radius: 3px;
    border: 2px solid var(--light-text);
}

input:active, input:focus {
    border: 2px solid rgb(50, 85, 150);
    box-shadow: 0 0 4px rgb(50, 85, 150);
    outline: none;
    background-color: #ffffff;
}

input:invalid {
    border: solid 2px var(--highlight-color);
    box-shadow: 0 0 4px var(--highlight-color);
}

#matchwarning {
    color: var(--highlight-color);
    font-size: small;
}

.signupform button {
    margin: 50px 0px 0px 50px;
    width: 200px;
    height: 50px;
    font-family: 'veridianFont';
    font-size: large;
    color: var(--light-text);
    background-color: var(--highlight-color);
    border-radius: 6px;
    border: 3px solid #4e0000;
}

.signupform button:hover {
    background-color:#500000;
    border: 3px solid black;
    cursor: pointer;
}

.right > p {
    margin-left: 40px;
}
